.add-podcast {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.options {
  display: flex;
  gap: 20px;
}

.option {
  flex: 1;
  background-color: #f9f9f9;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 0.68px solid #c7c7c7;
  box-shadow: 0px 1.33px 2.67px 0px #0000000f;

  box-shadow: 0px 5.33px 5.33px 0px #0000000d;

  box-shadow: 0px 10.67px 6.67px 0px #00000008;

  box-shadow: 0px 18.67px 8px 0px #00000003;

  box-shadow: 0px 29.33px 8px 0px #00000000;
}
.Sellect-file {
  color: #49454f;
  font-size: 1.5em;
}
.file-types {
  color: grey;
  font-size: 1rem;
}

.option-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: flex;
  align-items: center;
}
.option-icon img {
  width: 60px;
}
.option-content h2 {
  margin: 0;
  font-size: 18px;
}

.option-content p {
  margin: 0;
  color: #999;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid #d1d1d1;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.file-upload p {
  margin: 0;
  color: #666;
}

.select-file-btn {
  color: #7f3eff;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 1.93px solid #7e22ce;
  font-size: 1.2rem;
}

.select-file-btn:hover {
  background-color: #6e33d3;
  color: white;
}

.info-text {
  background: #ffe091;
  padding: 1rem;
  color: #b87a1f;
  border-radius: 10px;
  margin-bottom: 10px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn img {
  padding-left: 5px;
}

.files-table {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border-collapse: collapse;
  width: 100%;
}
.table-wrap {
  padding: 1rem;
  border: 1.33px solid #c7c7c7;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 4px 8px 0px #0000000f;

  box-shadow: 0px 14.67px 14.67px 0px #0000000d;

  box-shadow: 0px 33.33px 20px 0px #00000008;

  box-shadow: 0px 58.67px 24px 0px #00000003;

  box-shadow: -1.33px 92px 25.33px 0px #00000000;
}
.t-heade-name {
  font-size: 1rem;
}

.files-table table {
  width: 100%;
  border-collapse: collapse;
}

.files-table th,
.files-table td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #646464;
  font-weight: bold;
  font-size: 14px;
}

.files-table th {
  font-weight: bold;
  background-color: #f4f4f4;
}

.files-table .status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85em;
  text-align: center;
}

.status.in-progress {
  background-color: #ffe58f;
  color: #000;
}
.btn {
  display: flex;
}

.status.done {
  background-color: #d3adf7;
  color: #722ed1;
}

.view-btn {
  padding:10px;
  border-radius: 5px 0px 0px 5px;
  font-size: 0.85em;
  cursor: pointer;
  border: none;
  background: white;
  border: 1.33px solid #c7c7c7;
}
.delete-btn {
  padding: 5px 10px;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.85em;
  cursor: pointer;
  background: white;
  border: none;
  border: 1.33px solid #c7c7c7;
}

.view-btn {
  color: grey;
}

.delete-btn {
  color: #ff274c;
}

.share-btn {
  background-color: #1890ff;
  color: #fff;
}
.transcript-header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.transcript-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit button {
  background: #211935;
  color: white;
  padding: 11px 50px 11px 50px;
  gap: 10px;
  border-radius: 5px;
  opacity: 0px;
  font-size: 1rem;
}
.edit-transcript {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.transcript-body {
  border-radius: 10px;
  background: #ffffff;
  border: 0.67px solid #C7C7C7;
  height:50vh;
  padding:1.5rem;
}
.transcript-header-left img{
  width:30px;
}
textarea{
  width: 100%;
  height: 100%;
}
